<html>
<head>
    <title>Dictionary</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
     <a class="navbar-brand" href="{{ url_for('index') }}">Dictionary Site</a>
 </nav>
 <div class="jumbotron">
     <h3> Enter Search String</h3>
    <form action="{{url_for('meaning')}}">
        <label for="word">Word</label>
        <input type="text" name="word">
        <input type="submit" value="Search Meaning">
    </form>
</div>


 {% block content %}

 {% endblock %}

</body>

</html>